.footer {
  @include font();
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-contacts__item {
  display: flex;
  justify-content: center;
}
.all-contacts__link-footer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.join-us {
  @include font(14px, 700, 1.15, 0.03em);
  padding-top: 12px;
  color: var(--accent-text-for-btn);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.join-us__socnet {
  display: flex;
  margin-left: -15px;
}

.join-us__text {
  @include font(14px, 700, 1.15, 0.03em);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.join-us__svg {
  width: 20px;
  height: 20px;
  fill: var(--accent-text-for-btn);
}
.join-us__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);

  &_accent:hover,
  &_accent:focus {
    background-color: var(--color-logo-btn-accent);
  }

  &_accent:hover &__svg,
  &_accent:focus &__svg {
    fill: var(--accent-text-for-btn);
  }

  &_accent:hover .socnet-svg-footer-tw,
  &_accent:focus .socnet-svg-footer-tw {
    fill: var(--accent-text-for-btn);
  }

  &_accent:hover .socnet-svg-footer-fb,
  &_accent:focus .socnet-svg-footer-fb {
    fill: var(--accent-text-for-btn);
  }

  &_accent:hover .socnet-svg-footer-lnkdn,
  &_accent:focus .socnet-svg-footer-lnkdn {
    fill: var(--accent-text-for-btn);
  }
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-right: auto;
  @include font(14px, 700, 1.15, 0.03em);
  color: var(--accent-text-for-btn);
  &__text {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__btn {
    @include font(16px, 700, 1.87, 0.06em);
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    border-color: transparent;
    margin-left: 8px;
    margin-top: 20px;
    font-style: normal;
    color: var(--accent-text-for-btn);
    background-color: var(--color-logo-btn-accent);
    cursor: pointer;
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__input {
    background: transparent;
    min-width: 356px;
    min-height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0;
    &--placeholder::placeholder {
      padding-left: 16px;
    }
  }

  &__svg {
    vertical-align: middle;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 0 auto;
    justify-content: space-between;
  }
  .footer {
    padding-top: 0;
  }
  .footer-container-left {
    margin-right: 70px;
    text-align: left;
  }
  .all-contacts__item {
    display: flex;
    justify-content: left;
  }
  .all-contacts__link-footer {
    display: flex;
    justify-content: left;
  }
  .join-us__text {
    justify-content: left;
  }
  .form-footer {
    display: block;
  }
}
