:root {
    --color-text-body-icon-bg: #212121;
}

:root {
    --color-logo-btn-accent: #2196f3;
}

:root {
    --second-colour-for-text: #757575;
}

:root {
    --accent-text-for-btn: #ffffff;
}

:root {
    --btn-focus-background-color: #188CE8;
}

:root {
    --secondary-font: Raleway;
}

:root {
    --project-border-color: #eeeeee;
}

:root {
    --features-bg-color: #f5f4fa;
}

:root {
    --svg-color: #afb1b8;
}

:root {
    --transition-duration: 250ms;
}

:root {
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}